.is-flex {
  display: flex; }

.is-flex-column {
  flex-direction: column; }

.is-flex-between {
  justify-content: space-between; }

.is-flex-end {
  justify-content: flex-end; }

.is-flex-center {
  align-items: center; }

.is-flex-start {
  align-items: flex-start; }

.is-flex-start-center {
  align-items: flex-start;
  justify-content: center; }

.is-flex-end-bottom {
  justify-content: flex-end;
  align-items: flex-end; }

.is-flex-end-center {
  align-items: center;
  justify-content: flex-end; }

.is-flex-justify-center {
  justify-content: center;
  align-items: center; }

.is-flex-column-between {
  flex-direction: column;
  justify-content: space-between; }

.is-flex-item-bottom {
  margin-top: auto; }

@media (min-width: 768px) and (max-width: 1024px) {
  .is-flex-column-tablet {
    flex-direction: column; } }
@media screen and (max-width: 768px) {
  .is-flex-column-mobile {
    flex-direction: column; }

  .columns.is-reversed-mobile {
    flex-direction: column-reverse;
    display: flex; } }
p, .p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #1C1C1C;
  line-height: 27px;
  opacity: .80;
  font-weight: 300; }

.p-mini {
  font-size: 13px !important; }

.small-pop-header {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #F69C93;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase; }

.page-header {
  font-family: "Raleway", sans-serif;
  font-size: 51px;
  color: #1C1C1C;
  font-weight: 900;
  line-height: 1.2em; }

.section-header {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  color: #1C1C1C;
  font-weight: 700;
  line-height: 1.2em; }

.cta-header {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: #1C1C1C;
  font-weight: 800;
  line-height: 1.2em; }

.sub-section-header {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #1C1C1C;
  font-weight: 600;
  line-height: 1.2em; }

.benefit-header {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.2em; }

.text-white {
  color: #FFFFFF !important; }

.text-cobalt {
  color: #1C1C1C !important; }

.text-black {
  color: #000000; }

.text-pink {
  color: #F69C93 !important; }

.opacity-full {
  opacity: 1; }

.opacity-50 {
  opacity: .5; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.p-60 {
  max-width: 60%; }

.p-70 {
  max-width: 70%; }

@media (min-width: 769px) and (max-width: 1024px) {
  .benefit-header {
    font-size: 14px; }

  .p-width-tablet-reset {
    max-width: 100%; }

  .section-header {
    font-size: 30px; }

  .sub-section-header {
    font-size: 16px; }

  .page-header {
    font-size: 40px; }

  .small-pop-header {
    font-size: 12px; } }
@media screen and (max-width: 768px) {
  .benefit-header {
    font-size: 13px; }

  .page-header {
    font-size: 40px; }

  .section-header {
    font-size: 35px; }

  .sub-section-header {
    font-size: 17px; }

  .p-width-mobile-reset {
    max-width: 100%; }

  .small-pop-header {
    font-size: 13px; }

  .p-70 {
    max-width: 100%; }

  .text-center-mobile {
    text-align: center; }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #1C1C1C;
    line-height: 27px;
    opacity: .80;
    font-weight: 300; } }
.is-padding-large-container {
  padding: 5px 3.5rem 5px 3.5rem !important; }

.is-padding-xl {
  padding: 150px 1.5rem 150px 1.5rem !important; }

.is-padding-large {
  padding: 75px 1.5rem 75px 1.5rem !important; }

.is-padding-medium {
  padding: 25px 1.5rem 25px 1.5rem !important; }

.is-padding-small {
  padding: 15px 1.5rem 15px 1.5rem !important; }

.is-padding-xs {
  padding: 5px 1.5rem 5px 1.5rem !important; }

.is-padding-xxs {
  padding: 1px 1.5rem 1px 1.5rem !important; }

.is-padding-30px {
  padding: 30px; }

.is-padding-50px {
  padding: 50px; }

.is-padding-medium-uniform {
  padding: 100px; }

.is-padding-large-uniform {
  padding: 170px; }

.pr-80 {
  padding-right: 80%; }

.pl-150-px {
  padding-left: 150px; }

.pt-10 {
  padding-top: 10rem !important; }

.pt-15 {
  padding-top: 15rem !important; }

.mt-10 {
  margin-top: 9rem !important; }

.mr-auto {
  margin-right: auto !important; }

.padding-remove {
  padding: 0 !important; }

.margin-remove {
  margin: none !important; }

.margin-bottom-remove {
  margin-bottom: 0 !important; }

@media (min-width: 768px) and (max-width: 1024px) {
  .mt-1-tablet-only {
    margin-top: 1rem; }

  .margin-remove-tablet {
    margin: 0 !important; }

  .pl-150-px {
    padding-left: 25px; }

  .pl-remove-tablet {
    padding-left: 0 !important; }

  .pr-remove-tablet {
    padding-right: 0 !important; }

  .pt-2-tablet {
    padding-top: 2rem !important; }

  .pb-2-tablet {
    padding-bottom: 2rem !important; }

  .padding-remove-tablet {
    padding: 0 !important; }

  .is-padding-20px-tablet {
    padding: 20px; }

  .padding-top-remove-tablet {
    padding-top: 0 !important; }

  .padding-top-remove-tablet {
    padding: 0 1.5rem 25px 1.5rem !important; } }
@media screen and (max-width: 768px) {
  .padding-remove-mobile {
    padding: 0 !important; }

  .margin-remove-mobile {
    margin: 0 !important; }

  .pr-remove-mobile {
    padding-right: 0 !important; }

  .pr-reset-mobile {
    padding-right: 0.75rem !important; }

  .pl-reset-mobile {
    padding-left: 0.75rem !important; }

  .pt-reset-mobile {
    padding-top: 0.75rem !important; }

  .is-small-section-padding-mobile {
    padding: 20px 1.5rem 20px 1.5rem !important; }

  .is-padding-large, .is-padding-xl {
    padding: 35px 1.5rem 35px 1.5rem !important; }

  .ml-remove-mobile-only {
    margin-left: 0 !important; }

  .mt-1-mobile-only {
    margin-top: 1rem !important; }

  .mt-2-mobile-only {
    margin-top: 2rem !important; }

  .mt-3-mobile-only {
    margin-top: 3rem !important; }

  .padding-top-remove-mobile {
    padding: 0 1.5rem 25px 1.5rem !important; }

  .pt-1-mobile {
    padding-top: 1rem !important; }

  .pt-2-mobile {
    padding-top: 2rem !important; }

  .pt-3-mobile {
    padding-top: 3rem !important; }

  .is-padding-small-mobile {
    padding: 15px 1rem !important; }

  .is-padding-xs-mobile {
    padding: 0.5rem !important; }

  .is-padding-large {
    padding: 3rem 1rem !important; }

  .container.is-fluid {
    padding: 0; }

  .pl-150-px {
    padding-left: 10px; }

  .is-padding-small {
    padding: 15px 1rem !important; } }
.blog-tag-bubble {
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 7px 12px;
  width: auto;
  height: auto;
  max-width: 200px;
  display: inline-block; }
  .blog-tag-bubble span {
    margin: 0 !important; }

.social-share {
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 25px;
  -webkit-box-shadow: 0px 0px 22px 5px rgba(179, 179, 179, 0.56);
  -moz-box-shadow: 0px 0px 22px 5px rgba(179, 179, 179, 0.56);
  box-shadow: 0px 0px 22px 5px rgba(179, 179, 179, 0.56);
  border-radius: 7px; }

.alert-box {
  padding: 35px;
  border-radius: 7px;
  width: 70%; }
  .alert-box .alert-box-header {
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 7px; }
    .alert-box .alert-box-header div {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: #F8D338; }

@media screen and (max-width: 768px) {
  .alert-box {
    width: 100%; } }
.is-text-link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  transition: ease-in-out 300ms;
  font-size: 15px; }
  .is-text-link:hover {
    text-decoration: underline; }

.footer-link-ul li {
  display: block;
  padding: 5px 0 5px 0; }

.img-90 {
  max-width: 90%; }

.index-bg-geo {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  max-width: 100%; }

.close {
  cursor: pointer;
  max-width: 20px; }
  .close:hover {
    opacity: .8; }

.fw-img {
  max-width: 100%; }

.is-circle-img {
  border-radius: 50%; }

.is-hero-img {
  border: 40px solid transparent;
  box-shadow: 0 0 2px #F69C93; }

.service-svg {
  max-height: 60px; }

.social-favicon {
  cursor: pointer;
  max-width: 25px; }
  .social-favicon:hover {
    opacity: .8; }

.logo {
  cursor: pointer;
  max-width: 120px;
  max-height: none !important; }
  .logo:hover {
    opacity: .8; }

.blog-author-img {
  max-width: 55px; }

.smartphone-img {
  height: auto !important;
  width: auto !important;
  max-height: 3rem !important; }

.blog-img {
  border-radius: 7px 7px 0 0;
  display: block; }

.careers-section-svg {
  max-width: 75px; }

@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    max-width: 85px; }

  .careers-header-img {
    max-width: 50%; } }
@media screen and (max-width: 768px) {
  .logo {
    max-width: 85px; }

  .careers-header-img {
    max-width: 66%; }

  .careers-section-svg {
    max-width: 59px; }

  .img-90 {
    max-width: 100%; } }
.navbar {
  background-color: transparent !important; }

.navbar-link:not(.is-arrowless)::after {
  border-color: #1C1C1C !important; }

.nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #1C1C1C;
  transition: ease-in-out color 100ms; }
  .nav-link:hover {
    color: #F69C93 !important; }

.nav-link-sub {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #1C1C1C;
  transition: ease-in-out color 100ms; }
  .nav-link-sub:hover {
    color: #F69C93 !important; }

.button {
  border: none;
  padding: 0; }

.button-reset {
  background: none;
  border: none; }

button {
  cursor: pointer; }

.btn-primary {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  border: 3px solid transparent;
  padding: 13px 43px 13px 43px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  min-width: 120px;
  outline: none;
  cursor: pointer; }

.btn-secondary {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 600;
  background-color: transparent;
  padding: 13px 43px 13px 43px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  min-width: 120px;
  outline: none;
  cursor: pointer; }

.btn-primary-no-pad {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  border: 3px solid transparent;
  padding: 13px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  min-width: 140px;
  outline: none;
  cursor: pointer; }

.btn-secondary-no-pad {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 600;
  background-color: transparent;
  padding: 13px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  outline: none;
  cursor: pointer; }

.fw {
  width: 100%; }

.square {
  border-radius: 0px; }

.rounded {
  border-radius: 28px; }

.btn-text-only {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #1C1C1C;
  transition: all .3s ease-in-out; }
  .btn-text-only img, .btn-text-only svg {
    height: auto;
    width: auto;
    max-height: 0.7rem;
    margin: 3px 0 0 10px;
    transition: all 200ms ease-out; }
  .btn-text-only:hover {
    text-decoration: underline; }
    .btn-text-only:hover img {
      margin-left: 25px; }

.btn-pink {
  border: 3px solid #F69C93;
  background-color: #F69C93;
  color: #FFF; }
  .btn-pink:hover {
    background-color: transparent;
    color: #F69C93; }

.btn-pink-secondary {
  border: 3px solid #F69C93;
  background-color: transparent;
  color: #F69C93; }
  .btn-pink-secondary:hover {
    background-color: #F69C93;
    color: #FFFFFF; }

.btn-white-secondary {
  border: 3px solid #FFFFFF;
  background-color: #FFFFFF;
  color: #1C1C1C; }
  .btn-white-secondary:hover {
    background-color: #F69C93;
    border: 3px solid #F69C93;
    color: #FFFFFF; }

.btn-bronze-secondary-no-pad {
  border: 3px solid #107E7D;
  background-color: transparent;
  color: #107E7D; }
  .btn-bronze-secondary-no-pad:hover {
    background-color: #107E7D;
    border: 3px solid #107E7D;
    color: #FFFFFF; }

.btn-yellow-secondary {
  border: 3px solid #107E7D;
  background-color: transparent;
  color: #107E7D; }
  .btn-yellow-secondary:hover {
    background-color: #107E7D;
    border: 3px solid #107E7D;
    color: #FFFFFF; }

.mobile-carousel-control-container {
  display: none; }

.carousel-control-container {
  height: 60px;
  width: 60px;
  border: 3px solid #343434;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;
  cursor: pointer; }
  .carousel-control-container:hover {
    background-color: #343434; }
    .carousel-control-container:hover svg path {
      fill: #FFFFFF; }

@media screen and (max-width: 1024px) {
  .navbar-dropdown {
    display: none; } }
@media screen and (max-width: 768px) {
  .btn-mobile-full-width {
    width: 100%;
    display: block;
    text-align: center; }

  .mobile-carousel-control-container {
    display: flex; } }
input[type=checkbox] {
  height: 15px;
  width: 15px;
  margin-top: 2px; }

.std-form {
  width: 100%;
  margin: 0; }
  .std-form input[type=text] {
    background-color: #FFF7F0;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #000000;
    padding: 17px 25px 17px 25px;
    width: 100%;
    border-radius: 26px;
    border: none; }
  .std-form textarea {
    background-color: #FFF7F0;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #000000;
    padding: 15px 25px 15px 25px;
    width: 100%;
    border-radius: 26px;
    border: none; }
  .std-form .select-img-position {
    position: relative; }
    .std-form .select-img-position img {
      position: absolute;
      width: auto;
      height: auto;
      height: 12px;
      width: 12px;
      right: 25px;
      top: calc(12px + 0.3rem); }
  .std-form select {
    border: 1px solid #E9E9E9;
    background-color: #FFFFFF;
    border-radius: 7px;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #000000;
    padding: 15px 25px 15px 25px;
    width: 100%;
    appearance: none;
    position: relative;
    cursor: pointer;
    -webkit-appearance: none; }

.search-input {
  border: 1px solid #E9E9E9 !important;
  border-radius: 7px !important;
  background-color: #FFFFFF !important;
  font-size: 12px !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 300 !important;
  color: #000000 !important;
  padding: 15px 25px 15px 25px !important;
  width: 100% !important;
  position: relative !important;
  appearance: none !important;
  cursor: text !important; }

.search-input-icon {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 20px;
  top: 13px;
  right: 20px; }

.faq-search-container {
  position: relative; }
  .faq-search-container img {
    position: absolute;
    width: auto;
    height: auto;
    height: 12px;
    width: 12px;
    left: 25px;
    top: calc(12px + 0.3rem); }
  .faq-search-container input[type=text] {
    background-color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #000000;
    padding: 17px 25px 17px 50px;
    width: 100%;
    border-radius: 26px;
    border: none;
    height: 48px; }

.subscribe-input {
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #000000;
  padding: 15px 43px 15px 43px;
  width: 300px; }

@media (min-width: 768px) and (max-width: 1024px) {
  .subscribe-input {
    width: auto;
    max-width: 51%; } }
@media screen and (max-width: 768px) {
  .subscribe-input {
    width: 100%; } }
.border-bottom {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2); }

.box-shadow {
  box-shadow: 8px 8px 32px 0px #e8eff7; }

.hr-right h4 {
  display: inline-block; }
.hr-right span {
  margin-left: 15px;
  width: 80px;
  height: 1px;
  background-color: #F69C93;
  display: inline-block;
  line-height: 2;
  animation: shake 1.75s infinite; }

.white-border-img {
  border: 15px solid #FFFFFF; }

.index-service-card {
  border-radius: 7px;
  border: 1px solid #E9E9E9;
  padding: 23px;
  height: 100%; }

.cta-card {
  background-image: url(../assets/cta-card-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #107E7D; }
  .cta-card:after {
    content: "";
    width: 50%;
    float: right;
    height: 5px;
    background-color: #F69C93;
    position: absolute;
    bottom: 0;
    right: 0; }

.carousel-controls {
  padding-left: 50%; }

.carousel-controller {
  border: 1px solid #F69C93;
  padding: 30px;
  cursor: pointer;
  transition: all 300ms ease; }
  .carousel-controller:hover {
    background-color: #F69C93; }
    .carousel-controller:hover path {
      fill: #FFFFFF; }

.numbered-div {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: #FFFFFF;
  padding: 15px 25px; }

.pink-card {
  background-color: #F69C93;
  border-radius: 7px;
  padding: 66px; }

.white-perks-card {
  background-color: white;
  border-radius: 7px;
  padding: 27px; }

.blog-description {
  background-color: #FFF7F0;
  padding: 40px 25px;
  border-radius: 0 0 7px 7px;
  transition: background-color 200ms ease; }
  .blog-description:hover {
    background-color: #F69C93; }
    .blog-description:hover h4, .blog-description:hover span {
      color: white; }

.blog-sub-description {
  background-color: #FFF7F0;
  padding: 25px 25px;
  border-radius: 7px;
  transition: background-color 200ms ease; }
  .blog-sub-description h4 {
    font-size: 16px; }
  .blog-sub-description span {
    font-size: 13px; }
  .blog-sub-description:hover {
    background-color: #F69C93; }
    .blog-sub-description:hover h4, .blog-sub-description:hover span {
      color: white; }

.service-list-card {
  background-color: white;
  border-radius: 7px;
  padding: 22px 31px; }

.faq-category-card {
  background-color: white;
  border-radius: 7px;
  padding: 22px 31px;
  transition: all 200ms ease; }
  .faq-category-card:hover {
    opacity: 0.8;
    margin-top: 30px; }
  .faq-category-card .is-active {
    border: 2px solid #F69C93; }

@media (min-width: 769px) and (max-width: 1024px) {
  .cta-card {
    background-size: cover;
    background-position: top left; }

  .carousel-controls {
    padding-left: 30%; }

  .pink-card {
    padding: 46px; } }
@media screen and (max-width: 768px) {
  .cta-card {
    background-image: none; }

  .carousel-controls {
    padding-left: 0; }

  .pink-card {
    padding: 25px; }

  .blog-description {
    padding: 13px; } }
.is-small-container {
  max-width: 1152px !important; }

.is-xs-container {
  max-width: 950px !important; }

.is-800-container {
  max-width: 800px !important; }

.is-500-container {
  max-width: 500px !important; }

.is-300-container {
  max-width: 300px !important; }

.is-margin-0-auto {
  margin: 0 auto; }

.accordion-container {
  cursor: pointer; }
  .accordion-container ::selection {
    color: none;
    background: none; }
  .accordion-container ::-moz-selection {
    color: none;
    background: none; }
  .accordion-container #accordion-hidden {
    display: none; }

.width-100 {
  width: 100%; }

.dropdown-faq-container {
  border-bottom: 2px solid #1C1C1C;
  padding: 10px 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome, Edge, Opera and Firefox */ }
  .dropdown-faq-container .dropdown-faq-content {
    display: none; }

@media screen and (max-width: 768px) {
  .is-small-container, .is-xs-container, .is-800-container {
    max-width: 100% !important; }

  .width-100-mobile {
    width: 100%; } }
.index-hero-bg {
  background-image: url(../assets/hero-bg.svg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 70%; }

.wavy-pink-bg {
  background-image: url(../assets/wavy-section-bg.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover; }

.carousel-header-bg {
  background-image: url(../assets/carousel-header-bg.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 70%; }

.circle-right-bg {
  background-image: url(../assets/circle-right-bg.svg);
  background-position: right -50px top 1px;
  background-repeat: no-repeat;
  background-size: auto; }

.circle-left-green-bg {
  background-image: url(../assets/left-circle-green-bg.svg);
  background-position: left -120px top 1px;
  background-repeat: no-repeat;
  background-size: 40% 99%; }

.wavy-hero-bg-small {
  background-image: url(../assets/wavy-hero-bg.svg);
  background-position: left 0 top -200px;
  background-repeat: no-repeat;
  background-size: 100%; }

.email-subscribe-bg {
  background-color: #1C1C1C; }
  .email-subscribe-bg:after {
    content: "";
    width: 50%;
    float: right;
    height: 5px;
    background-color: #F69C93;
    position: absolute;
    bottom: 0;
    right: 0; }

@media (min-width: 769px) and (max-width: 1024px) {
  .wavy-hero-bg-small {
    background-position: left 0 top 0; }

  .carousel-header-bg {
    background-image: url(../assets/carousel-header-mobile-bg.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 95%;
    padding-bottom: 108px; } }
@media screen and (max-width: 768px) {
  .index-hero-bg {
    background-image: url(../assets/index-hero-bg-mobile.svg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%; }

  .wavy-pink-bg {
    background-image: url(../assets/wavy-section-bg-mobile.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%; }

  .carousel-header-bg {
    background-image: url(../assets/carousel-header-mobile-bg.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 95%;
    padding-bottom: 155px; }

  .circle-right-bg {
    background-image: url(../assets/circle-right-bg.svg);
    background-position: right -30px top 1px;
    background-repeat: no-repeat;
    background-size: 85%; }

  .circle-left-green-bg {
    background-image: url(../assets/left-circle-green-bg.svg);
    background-position: bottom -290px left -100px;
    background-repeat: no-repeat;
    background-size: 80% 99%; }

  .wavy-hero-bg-small {
    background-image: url(../assets/wavy-hero-bg-small-mobile.svg);
    background-position: left 0 top 0;
    background-repeat: no-repeat;
    background-size: 100%; } }

/*# sourceMappingURL=main.css.map */
