// Page hero sections

.index-hero-bg {
  background-image: url(../assets/index-hero.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 95% !important;
  border-radius: 20px;
}

.about-hero-bg {
  background-image: url(../assets/about-hero.jpg) !important;
}

.service-page-1-bg {
  background-image: url(../assets/service-page-1-hero.jpg) !important;
}

.our-fees-bg {
  background-image: url(../assets/fees-hero.jpg) !important;
}

.faq-bg {
  background-image: url(../assets/faq-hero.jpg) !important;
}

.blog-bg {
  background-image: url(../assets/blog-hero.jpg) !important;
}

.concert-bg {
  background-image: url(../assets/concert-hero.jpg) !important;
}

.contact-bg {
  background-image: url(../assets/contact-hero.jpg) !important;
}

.timetable-bg {
  background-image: url(../assets/schedule-hero.jpg) !important;
}

.testimonials-bg {
  background-image: url(../assets/testimonials-hero.jpg) !important;
}






.play-container {
  border-radius: 50%;
  height: 210px;
  width: 210px;
  background-color: $color-green;
}

.purple-with-cutout-bg {
  background-image: url(../assets/purple-svg-cutout.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-purple;
  border-radius: 20px;
}

.purple-with-cutout-bg-flip {
  background-image: url(../assets/purple-bg-svg-flip.svg);
}

.green-with-cutout-bg {
  background-image: url(../assets/green-bg-underlay.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-green;
  border-radius: 20px;
}


.green-wide-bg {
  background-color: $color-green;
  max-width: 95% !important;
  border-radius: 20px;
}

.white-bg {
  background-color: $color-white;
}

.purple-bg {
  background-color: $color-purple;
}

.dark-purple-bg {
  background-color: $color-dark-purple;
}

.green-bg {
  background-color: $color-green;
}

.dark-green-bg {
  background-color: #6C9B37;
}

.grey-bg {
  background-color: $color-grey;
}

.cobalt-bg {
  background-color: $color-cobalt;
}


.purple-light-bg {
  background-color: $color-light-purple;
}

.index-overlap-container {
  margin-top: -250px;
}

// Small desktop

@media screen and (max-width: 1675px) {
  .index-hero-bg, .green-wide-bg {
    max-width: 100% !important;
  }
}

// Tablet

@media (min-width: 768px) and (max-width: 1024px) {
  .index-hero-bg {
    background-image: url(../assets/index-hero-mobile.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100% !important;
    border-radius: 0%;
  }

  .about-hero-bg, .blog-hero-bg {
    border-radius: 0px !important;
  }

  .play-container {
    height: 150px;
    width: 150px;
  }
}

// Mobile

@media screen and (max-width: 768px) {
  .index-hero-bg {
    background-image: url(../assets/index-hero-mobile.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100% !important;
    border-radius: 0%;
  }

  .about-hero-bg {
    background-image: url(../assets/about-hero-mobile.jpg) !important;
  }

  .blog-hero-bg {
    background-image: url(../assets/blog-hero-mobile.jpg) !important;
  }

  .concert-bg {
    background-image: url(../assets/concert-hero-mobile.jpg) !important;
  }

  .contact-bg {
    background-image: url(../assets/contact-hero-mobile.jpg) !important;
  }



  .play-container {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }

  .index-overlap-container {
    margin-top: 0;
  }
}
