// Page hero sections

.index-hero-bg {
  background-image: url(../assets/index-hero.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 95% !important;
  border-radius: 20px;
}

.about-hero-bg {
  background-image: url(../assets/about-hero.jpg) !important;
}

.service-page-1-bg {
  background-image: url(../assets/service-page-1-hero.jpg) !important;
}


.play-container {
  border-radius: 50%;
  height: 210px;
  width: 210px;
  background-color: $color-green;
}

.purple-with-cutout-bg {
  background-image: url(../assets/purple-svg-cutout.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-purple;
  border-radius: 20px;
}

.green-wide-bg {
  background-color: $color-green;
  max-width: 95% !important;
  border-radius: 20px;
}

.purple-bg {
  background-color: $color-purple;
}

.green-bg {
  background-color: $color-green;
}

.grey-bg {
  background-color: $color-grey;
}


.purple-light-bg {
  background-color: $color-light-purple;
}

.index-overlap-container {
  margin-top: -250px;
}

// Small desktop

@media screen and (max-width: 1675px) {
  .index-hero-bg, .green-wide-bg {
    max-width: 100% !important;
  }
}
