// Index service cards

.index-service-card {
  border-radius: 7px;
  border: 1px solid #E9E9E9;
  padding: 23px;
  height: 100%;
}

// CTA Green card

.cta-card {
  background-image: url(../assets/cta-card-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $color-green;

  &:after {
    content: "";
    width: 50%;
    float: right;
    height: 5px;
    background-color: $color-pink;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

// Carousel pink controller outline

.carousel-controls {
  padding-left: 50%;
}

.carousel-controller {
  border: 1px solid $color-pink;
  padding: 30px;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {
    background-color: $color-pink;

    path {
      fill: $color-white;
    }
  }
}

// Numbered circle divs

.numbered-div {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: $color-white;
  padding: 15px 25px;
}

// Pink cards

.pink-card {
  background-color: $color-pink;
  border-radius: 7px;
  padding: 66px;
}

.white-perks-card {
  background-color: white;
  border-radius: 7px;
  padding: 27px;
}

// Blog cards

.blog-description {
  background-color: $color-peach;
  padding: 40px 25px;
  border-radius: 0 0 7px 7px;
  transition: background-color 200ms ease;

  &:hover {
    background-color: $color-pink;

    h4, span {
      color: white;
    }
  }
}

.blog-sub-description {
  background-color: $color-peach;
  padding: 25px 25px;
  border-radius: 7px;
  transition: background-color 200ms ease;

  h4 {
    font-size: 16px;
  }

  span {
    font-size: 13px;
  }

  &:hover {
    background-color: $color-pink;

    h4, span {
      color: white;
    }
  }
}

// Service list card

.service-list-card {
  background-color: white;
  border-radius: 7px;
  padding: 22px 31px;
}

// FAQ Category card

.faq-category-card {
  background-color: white;
  border-radius: 7px;
  padding: 22px 31px;
  transition: all 200ms ease;

  &:hover {
    opacity: 0.8;
    margin-top: 30px;
  }

  .is-active {
    border: 2px solid $color-pink;
  }
}

// Tablet

@media (min-width: 769px) and (max-width: 1024px) {
  .cta-card {
    background-size: cover;
    background-position: top left;
  }

  .carousel-controls {
    padding-left: 30%;
  }

  .pink-card {
    padding: 46px;
  }
}

// Mobile

@media screen and (max-width: 768px) {
  .cta-card {
    background-image:  none;
  }

  .carousel-controls {
    padding-left: 0;
  }

  .pink-card {
    padding: 25px;
  }

  .blog-description {
    padding: 13px;
  }
}
