.outerlap-image-container {
  position: absolute;
  top: -145px;
  right: 30px;
}

.underlap-image-container {
  position: absolute;
  bottom: -145px;
  left: 0;
}

.neg-mt-20px {
  margin-top: -20px;
}

// Cobalt pill alert box

.cobalt-pill {
  position: absolute;
  top: -22px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  padding: 11px 49px;
  background-color: $color-cobalt;
  max-width: 50%;
}

// FAQ buttons

.faq-button {
  box-shadow: 8px 8px 32px 0px #e8eff7;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    margin-top: 20px;
  }
}

// Google map cards

.gmap-card {
  box-shadow: 8px 8px 32px 0px #e8eff7;
  padding: 20px;
  border-radius: 13px;

  div {
    border-radius: 8px 8px 8px 88px;
    margin-top: -40px;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

    iframe {
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }
  }
}

// Tablet

@media (min-width: 768px) and (max-width: 1024px) {
  .outerlap-image-container {
    top: -95px;
  }
}

// Mobile

@media screen and (max-width: 768px) {
  .pt-35rem-mobile {
    padding-top: .35rem !important;
  }

  .pb-35rem-mobile {
    padding-bottom: .35rem !important;
  }

  .outerlap-image-container {
    position: absolute;
    bottom: -145px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }

  .column {
    .is-35-mobile {
      flex: none;
      width: 35%;
    }
  }
}
