.outerlap-image-container {
  position: absolute;
  top: -145px;
  right: 30px;
}

.underlap-image-container {
  position: absolute;
  bottom: -145px;
  left: 0;
}

.neg-mt-20px {
  margin-top: -20px;
}

// Cobalt pill alert box

.cobalt-pill {
  position: absolute;
  top: -22px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  padding: 11px 49px;
  background-color: $color-cobalt;
  max-width: 50%;
}
