.logo {
  max-height: 100% !important;
}

.circle-cross-img {
  max-height: 24px;
}

.social-favicon, .logo {
  &:hover {
    opacity: 0.7;
  }
}

.btn-arrow-purple {
  svg, path {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
  }

  &:hover {
    svg {
      path {
        fill: $color-white !important;
      }
    }
  }
}

.btn-arrow-green {
  svg, path {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
  }

  &:hover {
    svg {
      path {
        fill: $color-green !important;
      }
    }
  }
}
