.logo {
  max-height: 100% !important;
}

.circle-cross-img {
  max-height: 24px;
}

.circle-img {
  max-height: 63px;
}

.team-portrait {
  border-radius: 8px;
}

.graph {
  margin: 0 auto !important;
  display: block;
}

.outerlap-img {
  border-radius: 13px 13px 13px 166px;
}

.social-favicon, .logo {
  &:hover {
    opacity: 0.7;
  }
}

.btn-arrow-purple {
  svg, path {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
  }

  svg {
    path {
      fill: $color-white;
    }
  }

  &:hover {
    svg {
      path {
        fill: $color-purple !important;
      }
    }
  }
}

.btn-arrow-purple-secondary {
  svg {
    path {
      fill: $color-purple;
    }
  }

  &:hover {
    svg {
      path {
        fill: $color-white !important;
      }
    }
  }
}



.btn-arrow-green {
  svg, path {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
  }

  &:hover {
    svg {
      path {
        fill: $color-green !important;
      }
    }
  }
}

.btn-arrow-green-secondary {
  svg {
    path {
      fill: $color-green !important;
    }
  }

  &:hover {
    svg {
      path {
        fill: $color-white !important;
      }
    }
  }
}

// Mobile

@media screen and (max-width: 768px) {
  .play-button {
    max-width: 50%;
  }

  .faq-icon {
    max-width: 50px;
  }

  .graph {
    max-width: 300px;
    margin: 0 auto !important;
    display: block;
  }
}
