// Padding custom

.is-padding-large-container {
  padding: 5px 3.5rem 5px 3.5rem !important;
}

.is-padding-xl {
  padding: 150px 1.5rem 150px 1.5rem !important;
}
.is-padding-large {
  padding: 75px 1.5rem 75px 1.5rem !important;
}

.is-padding-medium {
  padding: 25px 1.5rem 25px 1.5rem !important;
}

.is-padding-small {
  padding: 15px 1.5rem 15px 1.5rem !important;
}

.is-padding-xs {
  padding: 5px 1.5rem 5px 1.5rem !important;
}

.is-padding-xxs {
  padding: 1px 1.5rem 1px 1.5rem !important;
}


.is-padding-30px {
  padding: 30px;
}

.is-padding-50px {
  padding: 50px;
}

.is-padding-75px {
  padding: 75px;
}


.is-padding-medium-uniform {
  padding: 100px;
}

.is-padding-large-uniform {
  padding: 170px;
}

.pr-80 {
  padding-right: 80%;
}

.pl-150-px {
  padding-left: 150px;
}

.pt-8 {
  padding-top: 8rem !important;
}

.pt-10 {
  padding-top: 10rem !important;
}

.pt-15 {
  padding-top: 15rem !important;
}

.pb-10 {
  padding-bottom: 10rem !important;
}

.pb-15 {
  padding-bottom: 15rem !important;
}

// Margins

.mt-10 {
  margin-top: 9rem !important;
}

.mb-12 {
  margin-bottom: 12em !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mt-negative-200px {
  margin-top: -200px;
}

.mb-negative-105px {
  margin-bottom: -105px;
}
// Removals

.padding-remove {
  padding: 0 !important;
}

.margin-remove {
  margin: none !important;
}

.margin-bottom-remove {
  margin-bottom: 0 !important;
}

// Overlap container

.overlap-container {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -162px;
    position: absolute;
}

// Tablet

@media (min-width: 768px) and (max-width: 1024px) {
  .mt-1-tablet-only {
    margin-top: 1rem;
  }

  .margin-remove-tablet {
    margin: 0 !important;
  }

  .pl-150-px {
    padding-left: 25px;
  }

  .pl-2rem-tablet {
    padding-left: 2rem !important;
  }

  .pl-remove-tablet {
    padding-left: 0 !important;
  }

  .pl-reset-tablet {
    padding-left: 0.75rem !important;
  }

  .pr-reset-tablet {
    padding-right: 0.75rem !important;
  }


  .pr-remove-tablet {
    padding-right: 0 !important;
  }

  .pr-2rem-tablet {
    padding-right: 2rem !important;
  }

  .pt-2-tablet {
    padding-top: 2rem !important;
  }

  .pb-2-tablet {
    padding-bottom: 2rem !important;
  }

  .pt-reset-tablet {
    padding-top: 0.75rem !important;
  }

  .pb-reset-tablet {
    padding-bottom: 0.75rem !important;
  }

  .padding-reset-tablet {
    padding: 1.5rem !important;
  }

  .padding-remove-tablet {
    padding: 0 !important;
  }

  .is-padding-20px-tablet {
    padding: 20px;
  }

  .padding-top-remove-tablet {
    padding-top: 0 !important;
  }

  .padding-top-remove-tablet {
    padding: 0 1.5rem 25px 1.5rem !important;
  }

  .section-padding-reset-tablet {
    padding: 3rem 1.5rem !important;
  }
}


// Mobile

@media screen and (max-width: 768px) {
  .padding-remove-mobile {
    padding: 0 !important;
  }

  .margin-remove-mobile {
    margin: 0 !important;
  }

  // negative

  .mb-negative-65px-mobile {
    margin-bottom: -65px !important;
  }

  .pr-remove-mobile {
    padding-right: 0 !important;
  }

  .padding-reset-mobile {
    padding: 1.5rem !important;
  }

  .pr-reset-mobile {
    padding-right: 0.75rem !important;
  }

  .pl-reset-mobile {
    padding-left: 0.75rem !important;
  }

  .pt-reset-mobile {
    padding-top: 0.75rem !important;
  }

  .pb-reset-mobile {
    padding-bottom: 0.75rem !important;
  }

  .pb-20-mobile {
    padding-bottom: 20rem !important;
  }

  .section-padding-reset-mobile {
    padding: 3rem 1rem !important;
  }

  .is-small-section-padding-mobile {
    padding: 20px 1.5rem 20px 1.5rem !important;
  }

  .is-padding-large, .is-padding-xl {
    padding: 35px 1.5rem 35px 1.5rem !important;  }

  .ml-remove-mobile-only {
    margin-left: 0 !important;
  }

  .mt-1-mobile-only {
    margin-top: 1rem !important;
  }

  .mt-2-mobile-only {
    margin-top: 2rem !important;
  }

  .mt-3-mobile-only {
    margin-top: 3rem !important;
  }


  .padding-top-remove-mobile {
    padding: 0 1.5rem 25px 1.5rem !important;
  }

  .pt-1-mobile {
    padding-top: 1rem !important;
  }

  .pt-2-mobile {
    padding-top: 2rem !important;
  }

  .pt-3-mobile {
    padding-top: 3rem !important;
  }

  .is-padding-small-mobile {
    padding: 15px 1rem !important;
  }

  .is-padding-xs-mobile {
    padding: 0.5rem !important;
  }

  .is-padding-large {
    padding: 3rem 1rem !important;
  }

  .container.is-fluid {
      padding: 0;
    }

  .pl-150-px {
    padding-left: 10px;
  }

  .pb-25rem-mobile {
    padding-bottom: 25rem !important;
  }

  .is-padding-small {
    padding: 15px 1rem !important;
  }
}
