// Color Variables

$color-white: #FFFFFF;
$color-green: #86C43F;
$color-cobalt: #363636;
$color-purple: #5D2A58;
$color-black: #000000;
$color-grey: #ECECEC;
$color-light-purple: #813E7B;

// Typography

$text-family-body: 'Open Sans', sans-serif;
$text-family-header: 'Poppins', sans-serif;

$text-weight-light: 300;
$text-weight-regular: 400;
$text-weight-medium: 500;
$text-weight-semi-bold: 600;
$text-weight-bold: 700;
$text-weight-extra-bold: 800;
$text-weight-black: 900;


$text-size-hero-header: 51px;
$text-size-section-header: 40px;
$text-size-sub-header: 30px;
$text-size-body: 16px;
$text-size-small-bold-header: 14px;

// Box shadows

$box-shadow-primary: 8px 8px 32px 0px rgba(232,239,247,1);

// Opacity

$opacity-full: 1;
$opacity-sub-header: 0.85;
$opacity-body-text: 0.79;
